<nav
  class="nav flex-column bg-dark"
  style="
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
  "
>
  <h4
    class="text-warning bg-secondary"
    style="padding: 10px 20px 10px 20px; width: 200px"
  >
    FoxyShop
  </h4>
  <a class="nav-link active text-warning d-flex align-items-center" aria-current="page" href="/"
    >
    <span class="material-icons">
      dashboard
    </span>
    <p style="margin: 0;margin-left: 5px;">
      Dashboard
    </p>
    </a
  >
  <a class="nav-link text-warning d-flex align-items-center" href="/products">
    <span class="material-icons">
      inventory_2
    </span>
    <p style="margin: 0;margin-left: 5px;">
      Products
    </p>
  </a>
  <a class="nav-link text-warning d-flex align-items-center" href="/categories">
    <span class="material-icons">
      category
    </span>
    <p style="margin: 0;margin-left: 5px;">
      Categories
    </p>
  </a>
  </a>
  <a class="nav-link text-warning d-flex align-items-center" href="/admins">
    <span class="material-icons">
      person
    </span>
    <p style="margin: 0;margin-left: 5px;">
      Admins
    </p>
  </a>
  <a class="nav-link text-warning d-flex align-items-center" href="/logout">
    <span class="material-icons">
      exit_to_app
    </span>
    <p style="margin: 0;margin-left: 5px;">
      Logout
    </p>
  </a>
</nav>
